<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="container">
      <form action="/login" method="post" class="login-form">
        <h1>Login</h1>
        <div class="input-group">
          <input type="text" id="username" name="username" required />
          <label for="username">Username</label>
        </div>
        <div class="input-group">
          <input type="password" id="password" name="password" required />
          <label for="password">Password</label>
        </div>
        <div class="button-group">
          <button type="submit">Login</button>
        </div>
        <!-- Link to register page -->
        <p style="color: white;">Don't have an account?
          <a href="/register" style="color: aqua;">Register here</a></p>
      </form>
    </div>
  </body>
</html>