<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Page</title>
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <!-- Container for the registration form -->
    <div class="container">
      <!-- Registration form -->
      <form action="register" method="POST" class="registration-form">
        <!-- Title -->
        <h1>Register</h1>

        <!-- Username input -->
        <div class="input-group">
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username"
            required
          />
        </div>

        <!-- Email input -->
        <div class="input-group">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
          />
        </div>

        <!-- Password input -->
        <div class="input-group">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
        </div>

        <!-- Confirm Password input -->
        <div class="input-group">
          <input
            type="password"
            id="confirm-password"
            name="confirmPassword"
            placeholder="Confirm Password"
            required
          />
        </div>

        <!-- Register button -->
        <div class="button-group">
          <button type="submit" value="Register">Register</button>
        </div>

        <!-- Link to login page -->
        <p style="color: white;">Already have an account?
          <a href="/login" style="color: aqua;">Login here</a></p>
      </form>
    </div>
  </body>
</html>