/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fe0000;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.logo a {
  color: #ffff00;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #ffff00;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #3498db;
}

/* Nature Images Section Styles */
.nature-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.image {
  text-align: center;
  flex: 0 0 calc(33.33% - 20px);
  margin: 20px;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.image:hover {
  transform: translateY(-10px);
}

.image img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  height: auto;
}

.image:hover img {
  transform: scale(1.05);
}

.image h2 {
  font-size: 24px;
  margin: 10px 0;
  color: #3498db;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.image:hover h2 {
  opacity: 1;
  transform: translateY(0);
}

.image p {
  font-size: 16px;
  color: #777;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.image:hover p {
  opacity: 1;
  transform: translateY(0);
}

/* Dashboard Content Styles */
.dashboard-content {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.welcome {
  text-align: center;
  margin-bottom: 40px;
}

.welcome h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.welcome p {
  font-size: 18px;
  color: #777;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #ffff00;
}
